/* 600 single column */

picture {
    width: auto;
    height: auto;
    max-width: 90%;
}

source {
    width: auto;
    height: auto;
}

img {
    width: auto;
    height: auto;
    max-width: 90%;
    border: 5px solid #000;
}

@media screen and (max-width: 600px) {
    picture {
        margin: 0 auto;
        padding: 0;
    }
    source {
        margin: 0 auto;
        padding: 0;
    }
    img {
        display: block;
        margin: 0 auto;
        padding: 0;
    }
    li {
        display: block;
        width: 100%;
        list-style: none;
        margin: 10px auto;
        padding: 0;
        background: white;
    }
    ul {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
}


/* 600 - 1200 two column */

@media screen and (min-width: 600px) {
    picture {
        display: block;
        margin: 0 auto;
        padding: 0;
    }
    source {
        display: block;
        margin: 0 auto;
        padding: 0;
    }
    img {
        display: block;
        margin: 0 auto;
        padding: 0;
    }
    li {
        display: inline-block;
        list-style: none;
        width: 49%;
        margin: 10px auto;
    }
    ul {
        display: block;
        width: 100%;
        margin: 0 10px;
        padding: 0;
    }
}


/* 1200+ four column */

@media screen and (min-width: 1200px) {
    picture {
        display: block;
        margin: 0 auto;
        padding: 0;
    }
    source {
        display: block;
        margin: 0 auto;
        padding: 0;
    }
    img {
        display: block;
        margin: 0 auto;
        padding: 0;
    }
    li {
        display: inline-block;
        width: 24%;
        list-style: none;
        margin: 10px auto;
        padding: 0;
    }
    ul {
        display: block;
        width: 100%;
        margin: 0 10px;
        padding: 0;
    }
}